@font-face{
    font-family: "Calculadora";
    src:url(../font/DS-DIGIB.TTF);
}
body{
    background-image: url(../img/madeira.jpg);
    
}
section{
    width:300px;
    background: #998b8b;
    margin:0 auto;
    box-shadow: rgba(0,0,0,.6) 10px 10px 10px;
    border-radius:5%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding: 0 10px;
}
section div{
    margin-bottom: 10px;
}
button{
    width: 24%;
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    margin: 20px;
    height: 50px;
    margin:0;
    font-size: 1.25em;
    color:white;
    background-color: #333333;
    border-color: #333333;
    border-radius: 30%;
}
#clear{
    font-size: 1em;
}
button.operacao{
    background-color: #09834a86;
    border-color: #09834a86;
}
#equals{
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    width: 90%;
    border-radius: 25%;
    margin-bottom: 20px
}
.display{
    background: #70666686;
    position: relative;
    width: 90%;
    top: 20px;
    text-align: right;
    font-size: 2.75em;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 10%;
    font-family: 'Calculadora';
}